# Deploy Vite React app to GitHub Pages
name: Deploy Vite app to Pages

on:
  push:
    branches: ["main"]
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install dependencies
        run: npm install
        working-directory: My-Job-Portfolio

      - name: Build
        run: npm run build
        working-directory: My-Job-Portfolio

      - name: Setup Pages
        uses: actions/configure-pages@v5

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: My-Job-Portfolio/dist

      - name: Deploy
        id: deployment
        uses: actions/deploy-pages@v4
